@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.heading-part{
    background-color: black;
    color: white;
    text-align: center;
}



.main-heading{
    padding: 110px;
    font-size: 55px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}


.heading-image{
    border-radius: 20px;
}

.service-section{
    background-color: gray;
    text-align: center;
    padding: 40px; 
}

.section-heading{
    font-size: 40px;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
    display: inline-block;
    padding: 20px;
}

.special-text{
    color: orange;
}

.details-btn{
    background-color: orange;
}