
.footer{
    background-color:#212529;
}

.footer-inside{
  
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: white;
    font-size: 13px;
}

.logo-slogan{
    text-align: left;
    margin: 20px;
}
.logo-slogan img{
    width: 240px;
    height: 120px;
}

.contact-section{
    text-align: left;
    margin: 20px;
    margin-left: 90px;
}

.footer-p{
    font-size: 14px;
    margin-top: 20px;
}

.sub-input{
    padding: 12px;
    width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
}

